<VirtualHost *:80>
    DocumentRoot {{ document_root }}

    <directory {{ document_root }}>
        Options All
        AllowOverride all
        Order allow,deny
        Allow from all
    </directory>

    ErrorLog /vagrant/logs/error.log
    TransferLog /vagrant/logs/access.log
    CustomLog /vagrant/logs/access.log common
</VirtualHost>


<VirtualHost *:443>
    DocumentRoot {{ document_root }}

    <directory {{ document_root }}>
        Options All
        AllowOverride all
        Order allow,deny
        Allow from all
    </directory>

    SSLEngine On
    SSLOptions +StrictRequire
    SSLCertificateFile /etc/apache2/ssl/basic-wp.crt
    SSLCertificateKeyFile /etc/apache2/ssl/basic-wp.key
    SSLProtocol TLSv1
</VirtualHost>
